*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");


html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

header {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    flex-direction: row;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
    height: 100%;
}


.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
    
    width: 750px;
}

.container-flex img {
    width: 360px;
    height: 360px;
    margin-top: 25px;
}

#sobre-a-loja{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#titulo-loja {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Sora', sans-serif;
    color: #1c3061;
}

.about-store p {
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
}

.segundo-p {
    padding-top: 10px;
}

#ambiente-acolhedor {
    margin-top: 20px;
    text-align: center;
    font-family: 'Sora', sans-serif;
    color: #1c3061;
}

.destaque {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    
}

.destaque-div {
    display: flex;
    /* align-items: flex-start; */
    width: 100%;
    flex-direction: column;
}

.destaque-div h2 {
    font-family: 'Sora', sans-serif;
    color: #1c3061;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

/* estilo da lista */
.destaque-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.destaque-list p{
    padding-top: 10px;
    width: 318px;
}

.destaque-list li button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}


.img-carro {
    width: 250px !important;
    height: 140px;
}



.item-central {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 /*  de estilo da lista  */

