*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");


html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

header {
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    flex-direction: row;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
    height: 100%;
}


.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container-flex {
    display: flex;
    
    width: 600px;
}

.container-flex img {
    width: 300px;
    height: auto;
}

#sobre-a-loja{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 30px;
}

#titulo-loja {
    text-align: center;
    margin-top: 20px;
    margin-bottom:10px;
    font-family: 'Sora', sans-serif;
}

.about-store p {
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
}